.game_screen{
	position: absolute;
	/*centering for absolute positioning*/
	left: 0;
 	right: 0;
  	margin: 0 auto;

	height: 100%;
}
/*Text/Dialogue box positioning and styling*/
.text_box{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
	height: 50%;
	width: 90%;

}

/*Text in Text/Dialogue box styling*/
#text{
	color: yellow;
	font-family: courier new;
	/*text is centered. may adjust aligning later (for all pages) later if you'd like */
	text-align: center;
	font-size: 14pt;

}
/*Bold Text*/
.bold{
	font-weight: bold;
	color: red;
}

/*Separate positioning for right button*/
.rbutton{
position: absolute;
bottom: 0px;
top: 80%;
right: 1%;
margin: 10px;
}
/*Styling for both left and right buttons*/
.lbutton, .rbutton {
	height: 100px;
	width: 180px;
	font-family: lucida console;
	font-size: 20px;
	font-weight:bold;
	background-color: white;
	border-width: 7px;
	border-color: #4A4A4A;
	border-style: solid;
	transition-duration: 0.4s;
  	cursor: pointer;
}
/*Hover effect for both left and right buttons*/
.lbutton:hover, .rbutton:hover{
	background-color: #7D7D7D;
	color: white;
	width: 250px;
}

body{
	background-color: black;
	animation-name: fade-in;
	animation-fill-mode: forwards;
	animation-duration: 0.75s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

@keyframes fade-in {
	0%{
		opacity: 0% ;
	}

	100% {

		opacity: 100% ;
	}
}